@using System.Web.UI.WebControls
<html>
<head>
    <title>Tree View – приложение ASP.NET</title>
    @Styles.Render("~/Content/css", "~/Scripts/plugins/dynatree/skin-vista/ui.dynatree.css")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/Scripts/plugins/dynatree/jquery.dynatree.js")
    <style type="text/css">
        #nodes {
            width: 50%;
            height: 100%;
            overflow: auto;
            
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nodes').dynatree({
                title: "Tree view demo",
                fx: { height: "toggle", duration: 200 },
                autoFocus: true,
                minExpandLevel: 1,
                initAjax: {
                    url: "/Tree/GetList"
                },
                onLazyRead: function(node) {
                    // In real life we would call something like this:
                    //              node.appendAjax({
                    //                  url: "/getChildrenAsJson",
                    //                data: {key: node.data.key,
                    //                       mode: "funnyMode"
                    //                         }
                    //              });
                    // .. but here we use a local file instead:
                    node.appendAjax({
                        url: "/Tree/GetList",
                        data: {parentId: node.id},
                        // We don't want the next line in production code:
                        debugLazyDelay: 750
            })}})});
    </script>
</head>
<body> 
    <h2>Tree View</h2>
    <ul id="nodes"></ul>

</body>
</html>






